<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>195162150936-2uthu4oh8t9fl90g5l443m84i4i755s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195162150936-2uthu4oh8t9fl90g5l443m84i4i755s4</string>
	<key>API_KEY</key>
	<string>AIzaSyBw8FTSAESIviFz-c78DY5FSGbPH9M7jRI</string>
	<key>GCM_SENDER_ID</key>
	<string>195162150936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.letshang.quote-motivation</string>
	<key>PROJECT_ID</key>
	<string>motivational-quote-fixed</string>
	<key>STORAGE_BUCKET</key>
	<string>motivational-quote-fixed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:195162150936:ios:7848e997af592029</string>
	<key>DATABASE_URL</key>
	<string>https://motivational-quote-fixed.firebaseio.com</string>
</dict>
</plist>